<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APW 1.0</title>
</head>
<body>
    <h1>Oi Mundo!</h1>

    <form action="/pesquisar" method="POST">
        <labe for="nome">Name</labe>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome." required><br/>
        <br/>
        <label for="idade">Idade</label>
        <input type="number" name="idade" id="idade" placeholder="Digite sua idade." max="99" min="0" step="5"><br/>
        <br/>
        <label for="data">Data</label>
        <input type="datetime-local" name="data" id="data"><br/>
        <br/>
        <label for="cor">Cor</label>
        <input type="color" name="cor" id="cor"><br/>
        <br/>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br/>
        <br/>
        <fieldset>
            <legend>Obrigatório</legend>          
            <label for="interesse">Aceito os termos</label>
            <input type="checkbox" name="interesse" id="interesse" required><br/>
            <label for="interesse">Aceito a política de Privacidade</label>
            <input type="checkbox" name="interesse" id="interesse" required><br/>
        </fieldset>
        <br/>
        <label for="cidade">Cidade</label>
        <select name="cidade" id="cidade" multiple>
            <optgroup label="Região da campanha">
                <option value="Bagé">Bagé</option>
                <option value="Hulha Negra">Hulha Negra</option>
                <option value="Aceguá">Aceguá</option>
                <option value="Candiota">Candiota</option>
            </optgroup>
            <optgroup label="Região Metropolitana">
                <option value="Porto Alegre">Porto Alegre</option>
                <option value="Canoas">Canoas</option>
                <option value="Santa Maria">Santa Maria</option>
                <option value="Caxias do Sul">Caxias do Sul</option>
            </optgroup>
        </select>
        <br/>
    </br>
        <input list="browsers">
        <datalist id="browsers">
            <option value="Edge">Edge</option>
            <option value="Firefox">Firefox</option>
            <option value="Google">Google</option>
            <option value="OperaGx">OperaGx</option>
            <option value="Brave">Brave</option>
        </datalist>
        <input type="submit" value="Enviar" value="termoPolitica">
    </form>
    
</body>
</html>