<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>

    <form action="/calculadora" method="POST">
        <input list="op">
        <datalist id="op">
            <option value="Soma">Soma</option>
            <option value="Subtração">Subtração</option>
            <option value="Multiplicação">Multiplicação</option>
            <option value="Divisão">Divisão</option>
            <option value="Potenciação">Potenciação</option>
        </datalist><br/>
        <br/>
        <label for="valor1">Valor1</label>
        <input type="number" name="valor1" id="valor1" placeholder="Digite um valor numérico" min="0" required><br/>
        </br>
        <label for="valor2">Valor2</label>
        <input type="number" name="valor2" id="valor2" placeholder="Digite um valor numérico" min="0" required><br/>
        </br>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>