<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome">
        </br>
        </br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Digite seu email">
        </br>
        </br>
        <label for="Senha">Senha</label>
        <input type="password" name="Senha" id="Senha" required placeholder="Digite seu Senha">
        </br>
        </br>
        <label for="foto">Foto</label>
        <input type="file" accept="image/*" name="foto" id="foto">
        </br>
        </br>
        <label for="datanasc">Data de Nascimento</label>
        <input type="date" name="datanasc" id="datanasc">
        </br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>